.cta {
  background: $primary;
  padding: 0.8em 1.5em;
  display: inline-block;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  border: 4px solid transparent;

  &.secondary {
    background: white;
    color: black;
    border: 2px solid $primary;
  }
}
