footer {
  background: #f2f2f2;
  margin-top: 4em;
}

footer > .inner {
  padding: 6em 0em 2.5em 0em;
}

.footer-group__column {
  ul {
    margin: 0; padding: 0;
    list-style-type: none;
    padding-top: 1em;
  }

  li {
    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 0em;
    }
  }

  a {
    color: #707070;
    text-decoration: none;
    font-size: 1.4em;
    transition: color 400ms ease;

    &:hover {
      color: $primary;
    }
  }
}

.footer-group {

  &__section {
    display: flex;
    flex-wrap: wrap;

    .footer-group__column {
      width: 50%;
    }
  }
  

  &__logo {
    margin: auto;
    width: 120px;

    a {
      width: 100%;
      display: inline-block;
    }
  }

  &__column {
    margin-bottom: 3em;
    &:first-of-type {
      margin-bottom: 2em;
    }

  }

  h4 {
    font-size: 1em;
    margin: 0;
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -2em; left: 0;
      width: 30px;
      height: 4px;
      background: $primary;
    }
  }
}

.business-group {
  margin-top: 2em !important;
  margin-bottom: 4em !important;
  display: inline-block;

  li {
    margin-bottom: 2em;
  }
}

.biz {
  display: flex;

  &__icon {
    background: $primary;
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 8px;
    margin-right: 1em;
    box-shadow: 0px 0px 30px rgba($primary, 80%);

    svg {
      position: absolute;
      top: 50%; left: 50%;
      width: 70% !important;
      transform: translate(-50%, -50%);
    }
  }

  &__blurb {
    font-size: 0.8em;
  }
}

.fda {
  text-align: left;
  margin-top: 4em;

  p {
    font-size: 0.9em;
    margin-bottom: 0;
    color: #808080
  }
}


.scroll-top {
  text-align: center;
  position: relative;

  a {
    position: absolute;
    display: inline-block;
    top: -50%; left: 50%;
    transform: translate(-50%, -50%);
    background: $primary;
    color: white;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    box-shadow: 0px 0px 30px rgba($primary, 80%);

    svg {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }

    &:active {
      top: 1px;
    }
  }
}

.has-payments {
  width: 24%;
}

.payment-container {
  display: flex;
  justify-content: space-between;

  .payment-item {
    width: 24%;
  }
}

@media(min-width: $bp-md) {

  footer > .inner {
    padding: 6em 0em 4em 0em;
  }

  .footer-group {
    display: flex;
    justify-content: space-between;

    &__logo {
      width: 170px;
      margin: 0;
    }
  }

  .logo-column {
    width: 30%;
    margin-right: 3em;
  }

  .footer-group__section {
    width: 75%;
    padding-top: 2em;

    .footer-group__column {
      width: 33%;
    }
  }


  .footer-group__column {
  
    a {
      font-size: 1em;
    }
  }


  .footer-group {
  
    h4 {
      font-size: 0.8em;
    }
  }

  .fda {
    width: 70%;
    margin-top: 0em;
  
    p {
      font-size: 0.7em;
    }
  }
}