.hero {
  padding: 0em 0em 0em 0em;
  width: 100%;
  margin: auto;
  position: relative;

  .inner {
    width: 100%;
  }

  &__el {
    border-radius: 20px;
  }

  &__content {
    color: white;
    padding: 8em 4em;
  }
}