.hero {

  &__content {
    max-width: 840px;
    text-align: center;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 4em;
  }

  p {
    width: 100%;
    max-width: 840px;
    margin-top: 1.5em;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 2em;
    font-weight: 800;

    span {
      display: inline;
      position: relative;
      transition: color 400ms ease;

      &:after {
        content: '';
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
        height: 4px;
        background: $primary;
        transition: width 1000ms ease;
        width: 0%;
      }
      
    }
  }
}

.hero-loaded {
  .hero__content h1 {

    span {
      color: $primary;

      &:after {
        width: 100%;
      }
    }
  }
}

.hero__button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;

  a {
    display: inline-block;
  }

  .secondary {
    margin-right: 2em;
  }

}


.blob {
  position: absolute;
  
  &.top-right {
    top: -140%; right: -630px;
  }

  &.bottom-left {
    // left: -440px; top: 100%;
    top: -40%; left: -680px;
  }
}

@media(min-width: $bp-sm) {
  .hero {

    h1 {
      font-size: 2.8em;
    }
  }

  .blob {
    position: absolute;
    
    &.top-right {
      top: -140%; right: -640px;
    }

    &.bottom-left {
      // left: -440px; top: 100%;
      top: 40%; left: -580px;
    }
  }
  
}


@media(min-width: $bp-md) {
  .hero {

    h1 {
      font-size: 3em;
    }
  }

  .blob {
    
    &.top-right {
      top: -140%; right: -570px;
    }
  }
}

@media(min-width: $bp-lg) {
  .blob {
    
    &.top-right {
      top: -140%; right: -470px;
    }
  }
}


@media(min-width: $bp-xl) {
  .blob {
    
    &.top-right {
      top: -100%; right: -500px;
    }
  }
}

@media(min-width: $bp-xxl) {
  .blob {
    
    &.top-right {
      top: -100%; right: -400px;
    }
  }
}